{{#resume.basics}}
<div class="header">
  <div class="header-left">
    <h2 class="mt-0">{{name}}</h2>
  </div>
  <div class="header-right">
    tel: {{phone}}<br>
    email: {{email}}<br>
    {{location.city}}, {{location.countryCode}}
  </div>
</div>
{{/resume.basics}}
